// 20211224110642
// https://registry.npmjs.org/

{
  "db_name": "registry",
  "engine": "couch_bt_engine",
  "doc_count": 2580092,
  "doc_del_count": 334,
  "update_seq": 12521322,
  "purge_seq": 0,
  "compact_running": false,
  "sizes": {
    "active": 68863084076,
    "external": 153351202300,
    "file": 75233300720
  },
  "disk_size": 75233300720,
  "data_size": 68863084076,
  "other": {
    "data_size": 153351202300
  },
  "instance_start_time": "1640249342012347",
  "disk_format_version": 7,
  "committed_update_seq": 12521322,
  "compacted_seq": 12481307,
  "uuid": "964c127ddcbbd59982db296a0f9e8a56"
}